services:
  app:
    build:
      context: ./docker/app
    container_name: smbc_learning_app
    volumes:
      - .:/workspace
      - ${SSH_AUTH_SOCK}:/ssh-agent  # SSHエージェントのソケットをマウント
    working_dir: /workspace
    environment:
      SSH_AUTH_SOCK: /ssh-agent  # コンテナ側に環境変数を上書き
    command: ["tail", "-f", "/dev/null"]
    tty: true
    stdin_open: true