# ڤ<,( ,1-ա

# 1 (, L)
cities:
  coordinates:
    Madrid: [40.4168, -3.7033]
    Barcelona: [41.3851, 2.1686]
    Valencia: [39.4699, -0.3756]
    Sevilla: [37.3891, -5.9845]
    Bilbao: [43.2627, -2.9253]

# Q- (2015-2018tn$)
population_weights:
  # ѿA: L?:ߺ
  admin_population:
    Madrid: 3200000     # 320
    Barcelona: 1600000  # 160  
    Valencia: 790000    # 79
    Sevilla: 690000     # 69
    Bilbao: 352000      # 35.2
    
  # ѿB: 
  metro_population:
    Madrid: 6500000     # 650
    Barcelona: 5200000  # 520
    Valencia: 1700000   # 170
    Sevilla: 1400000    # 140
    Bilbao: 950000      # Ъ95

# y-
feature_engineering:
  # p
  distance_decay:
    max_distance_km: 400  # Sngq
    half_effect_distance_km: 200  # Sng50%
    
  # \(-
  interactions:
    holiday_amplification_factor: 1.5  # BnE
    rain_threshold_mm: 5.0              # MkK.$
    indoor_displacement_rate: 0.3       # Kۇ
    weekday_afternoon_reduction: -0.2   # sHn
    weekday_evening_increase: 0.3       # sn

# LASSOyx-
feature_selection:
  max_features: 15
  cv_folds: 5
  alpha_range:
    min: 1e-4
    max: 1.0
    num_alphas: 50
  multicollinearity_threshold: 30  # ap$
  correlation_threshold: 0.8       # ڢ$